
NetworkAnalysis.html

.Rhistory

Cuffdiff LK_2_5_11_13.csv

*.xlsx

*.bam

*.Rdata

*_results.csv
.Rproj.user

MA_treatment_H1N1_H3N2_tophat.pdf

PCA_group_treatment_H1N1_H3N2_tophat.pdf

PCA_treatment_harvest_treatment_H1N1_H3N2_tophat.pdf

*.gff

*.fasta

*.html

Virus_Expression_A_Victoria_361_2011.pdf

Virus_Expression_A_California_07_2009.pdf

Virus_Expression_Comparison.pdf
treatment_H1N1_H3N2_tophat_results_Network.pdf
pathway_overlap.pdf
.DS_Store
treatment_H1N1_UI_tophat_results_Network.pdf
.DS_Store
